<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="contents">
      <%= form_for @todo, html: { class: 'form js-form' } do |f|%>
        <%= f.text_field :content, class: 'form__text-field js-form__text-field' %>
        <%= f.submit class: 'form__submit js-submit' %>
      <% end %>
      <ul class="todos">
        <%= render @todos %>
      </ul>
    </div>

    <script type="text/javascript">
      
    </script>
  </body>
</html>
